{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate 'Register' %}{% endblock %}
{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">{% translate 'Congratulations' %}</h4>
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}